@import "../../shared/breakpoints.scss";

$base-selector: ".timer";

#{$base-selector} {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Arial Rounded" sans-serif;
  font-size: 6vw;

  @include mobile {
    font-size: 20vw;
  }

  @include tablet {
    font-size: 15vw;
  }

  @include tablet-wide {
    font-size: 10vw;
  }

  @include desktop {
    font-size: 8vw;
  }
}
