.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  border-radius: var(--radius-md);
  gap: var(--spacing-md);
  width: 100%;
}
