@mixin mobile {
  @media (max-width: 479px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 480px) and (max-width: 767px) {
    @content;
  }
}

@mixin tablet-wide {
  @media (min-width: 768px) and (max-width: 1023px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) and (max-width: 1439px) {
    @content;
  }
}

@mixin desktop-wide {
  @media (min-width: 1440px) {
    @content;
  }
}
