@import "../../shared/breakpoints.scss";

$base-selector: ".home";

#{$base-selector} {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  height: 100vh;
  width: 100vw;
  padding: 2em;
  color: #fff;

  @include mobile {
    padding: 1em;
  }
}

#{$base-selector}__title {
  font-size: clamp(1.5rem, 7vw, 4rem);
  text-align: center;
  overflow-wrap: break-word;
  word-break: break-word;
}

#{$base-selector}__progress-bar {
  border: none;
  width: 100%;
  max-width: 600px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 1px;
  margin: 0 1em;

  &::-moz-progress-bar {
    background-color: #fff;
  }

  // for chromium based browsers
  &::-webkit-progress-bar {
    background-color: rgba(0, 0, 0, 0.2);
  }

  &::-webkit-progress-value {
    background-color: #fff;
  }
}

