@import "../../shared/breakpoints.scss";

$base-selector: ".timer-actions";

#{$base-selector} {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  width: 100%;
  margin-top: var(--spacing-lg);

  > button:first-child {
    grid-column: 2 / 3;
    /* Ensure it doesn't shrink */
    min-width: 200px;

    @include mobile {
       min-width: 150px;
       font-size: 1.2rem;
       height: 56px;
    }
  }
}

#{$base-selector}__button-reset {
  grid-column: 3 / 4;
  justify-self: start;
  margin-left: var(--spacing-md);

  /* Reset transform */
  transform: none;

  @include mobile {
    margin-left: var(--spacing-sm);
  }
}
