@import "../../shared/breakpoints.scss";

$base-selector: ".timer-selector";

#{$base-selector} {
  display: flex;
  justify-content: center;
  gap: var(--spacing-xs);
  width: fit-content;
  margin: 0 auto;

  @include mobile {
    gap: var(--spacing-xs);
    width: 100%;
  }
}
