@import "../../shared/breakpoints.scss";

$base-selector: ".timer-selector";

#{$base-selector} {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 0.7em;

  @include tablet {
    gap: 0.5em;
  }

  @include mobile {
    gap: 0.3em;
  }
}
